<meta http-equiv="refresh" content="1">

<div class="wrapper">
  <div class = "question_time">
    <h1>Just <%= @time_difference.hour %>

      <% if @time_difference.hour == 1 %>
        <%= "more hour" %>
      <% else %>
        <%= "more hours" %>
      <% end %>

      and <%= @time_difference.min %>
      <% if @time_difference.min == 1 %>
        <%= "minute!" %>
      <% else %>
        <%= "minutes!" %>
      <% end %>
      </h1>
  </div>
</div>
